@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="d-flex flex-column">
   <h1 class="text-center my-5 text-uppercase text-info">CHƯƠNG TRÌNH TÍNH LÃI SUẤT TIẾT KIỆM</h1>

    <div class="d-flex flex-column justify-content-between gap-3">
        <div class="col-4 mx-auto">
       
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <form action="/Laisuat/Giaodien" method="post">
                <div class="mb-3">
                    <label for="sotiengui" class="form-label">Số tiền gửi* (VNĐ)</label>
                    <input type="number" class="form-control" id="sotiengui" name="sotiengui" value="@ViewData["sotiengui"]" aria-describedby="text">
                </div>
                <p class="text-danger">.@ViewData["Message3"]</p>
         
                <div class="mb-3">
                    <label for="laisuatgui" class="form-label">Lãi suất gửi* (%/năm)</label>
                    <input type="number" class="form-control" id="laisuatgui" name="laisuatgui" value="@ViewData["Laisuatgui"]" aria-describedby="text">
                </div>
                <p class="text-danger">.@ViewData["Message1"]</p>
            
                <div class="mb-3">
                    <label for="kyhangui" class="form-label">Kỳ hạn gửi* (tháng)</label>
                    <input type="number" class="form-control" id="Kyhangui" name="Kyhangui" value="@ViewData["Kyhangui"]" aria-describedby="text">
                </div>
                <p class="text-danger">.@ViewData["Message2"]</p>
       
                <div class="d-flex align-items-center justify-content-center mt-5">
                    <button type="submit" id="ketqua" class="btn btn-primary px-4 py-2">Xem kết quả</button>
                </div>
            </form>
    </div>
    <div class="col">
      <div class="mb-5 col-4 mx-auto">
            <label for="Sotienlainhanduoc" class="form-label fw-bold">Số tiền lãi nhận được (VNĐ)</label>
            <input type="number" readonly class="form-control" id="Sotienlainhanduoc" name="Sotienlainhanduoc" value="@ViewData["Sotienlainhanduoc"]" aria-describedby="text">
        </div>

         <div class="mb-5 col-4 mx-auto">
            <label for="Tongsotiennhanduockhidenhan" class="form-label fw-bold">Tổng số tiền nhận được khi đến hạn (VNĐ)</label>
            <input type="number" readonly class="form-control" id="Tongsotiennhanduockhidenhan" name="Tongsotiennhanduockhidenhan" value="@ViewData["Tongsotiennhanduockhidenhan"]" aria-describedby="text">
        </div>
    </div>
  </div>
</div>